<div class="navbar">
    <a href="https://google.com" target="_blank" class="tooltip" data-tooltip="Home">
        <div class="icon-container">
            <i class="fa-solid fa-house"></i>
        </div>
    </a>
    <a href="https://google.com" target="_blank" class="tooltip" data-tooltip="Experience">
        <div class="icon-container">
            <i class="fa-solid fa-briefcase"></i>
        </div>
    </a>
    <a href="https://google.com" target="_blank" class="tooltip" data-tooltip="Technologies">
        <div class="icon-container">
            <i class="fa-solid fa-wrench"></i>
        </div>
    </a>
    <a href="https://google.com" target="_blank" class="tooltip" data-tooltip="Contact">
        <div class="icon-container">
            <i class="fa-solid fa-envelope"></i>
        </div>
    </a>
</div>
