<div class="navbar">
    <a href="#career" class="tooltip" data-tooltip="Career">
        <div class="icon-container">
            <i class="fa-solid fa-briefcase"></i>
        </div>
    </a>
    <a href="#technologies" class="tooltip" data-tooltip="Technologies">
        <div class="icon-container">
            <i class="fa-solid fa-wrench"></i>
        </div>
    </a>
    <a href="#contact" class="tooltip" data-tooltip="Contact">
        <div class="icon-container">
            <i class="fa-solid fa-envelope"></i>
        </div>
    </a>
</div>
