<h1> 
    <i class="fa-solid fa-wrench"></i>
    Technologies
</h1>
<div class="technologies-container">
    <div class="technology">
        <img src="../../assets/pictures/angular.svg.png" alt="angular">
        <p>Angular</p>
    </div>
    <div class="technology">
        <img src="../../assets/pictures/csharp-logo.svg.png" alt="c#">
        <p>C# / .Net</p>
    </div>
    <div class="technology">
        <img src="../../assets/pictures/python-logo.svg.png" alt="python">
        <p>Python</p>
    </div>
    <div class="technology">
       <img src="../../assets/pictures/github-logo.png" alt="github">
       <p>Git</p>
    </div>
    <div class="technology">
        <img src="../../assets/pictures/azure-devops-logo.png" alt="Azure">
        <p>Azure</p>
    </div>
    <div class="technology">
        <img src="../../assets/pictures/typescript_logo.svg.png" alt="Typescript">   
        <p>Typescript</p>   
    </div>
</div>
