<section id="career">
    <h1 class="section-header">
        <i class="fa-solid fa-briefcase"></i> Career
    </h1>
    <div class="timeline">
        <div class="container left-container">
            <img src="../../assets/pictures/netcompany-logo.jfif" alt="me">
            <div class="textbox">
                <h2>Netcompany</h2>
                <p>Software Engineer / Consultant</p>
                <p>Netcompany is a Danish IT services company specializing in delivering comprehensive digital solutions, 
                    primarily for the public sector. As a software engineer and consultant, my role involves 
                    full-stack development using .NET and Angular, combined with client-focused communication to ensure tailored, 
                    high-quality solutions. </p>
                <small>2024-2025</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="../../assets/pictures/sanday-logo.jfif" alt="me">
            <div class="textbox">
                <h2>Sanday</h2>
                <p>IT Support Specialist</p>
                <p>Sanday is a software company that develops information systems for general
                    practitioners. During my time at Sanday I was the first point of contact for
                    customers that needed help with the use of Sanday’s products.
                    </p>
                <small>2022-2023</small>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="../../assets/pictures/utrecht-university-logo.png" alt="me">
            <div class="textbox">
                <h2>Utrecht University</h2>
                <p>BSc Artificial Intelligence</p>
                <p>During my Bachelors’ degree I obtained a strong foundational knowledge of
                    various concepts including machine learning, data structures, algorithms,
                    mathematics and computational linguistics. Furthermore, I gained hands-on
                    experience with various programming languages including C# and Python. My
                    minor took place at the university of Leeds where I studied a combination of
                    business and computer science. I completed my degree with an average grade of
                    8/10.</p>
                <small>2020-2024</small>
                <span class="left-container-arrow"></span>
            </div>
        </div>
    </div>
</section>
