<section class="home-section">
    <app-navbar></app-navbar>
    <div class="about-me">
        <div class="header">
            <img src="../../assets/pictures/bitmoji.png" alt="me">   
            <h1>Hi,<br>     
                My name is <span class="purple">Jakub</span>
            </h1>
        </div>
        <p>I'm a 24 year old software developer based in Rotterdam, The Netherlands. 
            My ambition as a developer is to design and build innovative, impactful solutions that tackle real-world 
            challenges and contribute positively to society.
            As someone in the early stages of his career I am constantly looking for new opportunities to connect with people, learn, and expand my skillset. 
        </p>
        <a href="#contact" class="contact-button">
            Let's get in touch!
            <i class="fa-solid fa-envelope"></i>
        </a>
    </div>
</section>